@{
    ViewData["Title"] = "First";
}
<style>

    table {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: normal;
        text-align: start;
        color: #212529;
        background-color: #ffffff;
        border: solid 0.8px #212529;
        margin-bottom: 25px;
        width: 100%;
        table-layout: fixed;
        border-radius: 80px;
    }

    tr {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: normal;
        text-align: start;
        color: #212529;
        background-color: #ffffff;
        border-bottom: solid 0.5px #212529;
        border-radius: 80px;
    }

    td, th {
        border-left: solid 0.8px #212529;
        border-radius: 80px;
    }
</style>
<h1>HomeWork</h1>
<div id="div1">
</div>
<script src="~/js/javascript.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    const A = document.createDocumentFragment();//空物件做暫存器
    for (var item of DATAS) {
        var Table_ele = document.createElement("table")
        const { Name, Add, Tel, TYWebsite } = item
        var newitem = [Name, Add, Tel, TYWebsite]
        var theadTXT = ["名稱", "地址", "電話", "網址"]

        var tr_for_th = document.createElement("tr")
        for (var Key of theadTXT) {
            console.log(Key)
            var th = document.createElement("th")
            var thtxt = document.createTextNode(Key)
            th.appendChild(thtxt)
            tr_for_th.appendChild(th)
        }
        Table_ele.appendChild(tr_for_th)

        var tr_for_tds = document.createElement("tr")
        for (var prop of newitem) {
            var td = document.createElement("td")
            var text = document.createTextNode(prop)
            td.appendChild(text)
            tr_for_tds.appendChild(td)
        }
        Table_ele.appendChild(tr_for_tds)
        A.appendChild(Table_ele)
        document.querySelector("#div1").appendChild(A)
    }
</script>